#button {
    display: flex;
    justify-content: space-around;
}

div {
    display: flex;
}

#spiderMan {
    display: flex;
    width: 100vh;
}

#spiderMan1 {
    display: flex;
    width: 100vh;
}

#spiderMan2 {
    display: flex;
    width: 100vh;
}


