#button {
    display: flex;
    justify-content: space-around;
    border:solid black 1px;
    width:auto;
}

div {
    display: flex;
}

#spiderMan {
    display: flex;
    width: 100vh;
}

#spiderMan1 {
    display: flex;
    width: 100vh;
}

#spiderMan2 {
    display: flex;
    width: 100vh;
}


