* {
    box-sizing: border-box;
}

div {
    display: flex;
}

#spiderManNoWayHome {
    display: flex;
    flex-direction: column;
    width: 100vh;
    margin-left: 5px;
}

#spiderManAmazing {
    display: flex;
    flex-direction: column;
    width: 100vh;
    margin-left: 5px;
}

#spiderMan {
    display: flex;
    flex-direction: column;
    width: 100vh;
    margin-left: 5px;
}

#button {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    color:antiquewhite;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background: url(./img/Insolite-un-pansement-avec-des-toiles-d-araignees.jpg);
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.allPara{
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
}

.carousel {
    position: relative;
    width: 445px;
    height: 250px;
    overflow: hidden;
    background-color: #cdcdcd;
    margin: auto; 
    border-radius: 10px;
} 

.carousel-item { 
    position: absolute;
    width: 445px;
    height: 250px;
    top: 0;
    left: 100%;
}    

.active {
    left: 0;
    transition: all 0.3s ease-out;
}